CopyCalendar_20240228014142/Microsoft.Flow/flows/b4d8990e-bf10-4301-aeff-f4d5ee4ff4f5/definition.json
{"name":"089c3bba-fc0f-441e-968e-2f786971d4d3","id":"/providers/Microsoft.Flow/flows/089c3bba-fc0f-441e-968e-2f786971d4d3","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Copy Calendar","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"826b0fe2-a6bc-4f2b-9092-8c09ab08bbcc","type":"User","tenantId":"f4267fa7-9eb0-4c5b-b903-92d28edbd31c"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-02-28T01:40:58.3393733Z","connectionKeySavedTimeKey":"2024-02-28T01:40:58.3393733Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Week","interval":1,"startTime":"2024-02-27T15:00:00.000Z","schedule":{"weekDays":["Monday"]}},"metadata":{"operationMetadataId":"4f7ce175-a8c0-4544-bf82-07d5f1a2364b"},"type":"Recurrence"}},"actions":{"Send_an_HTTP_request_to_SharePoint":{"runAfter":{},"metadata":{"operationMetadataId":"47d66549-40f4-4317-a169-8199e69ebe7c"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"https://wkx8x.sharepoint.com/sites/work","parameters/method":"GET","parameters/uri":"/_api/web/lists/getbytitle('Company Events')/Items"},"authentication":"@parameters('$authentication')"}},"Send_an_HTTP_request_to_SharePoint_2":{"runAfter":{"Send_an_HTTP_request_to_SharePoint":["Succeeded"]},"metadata":{"operationMetadataId":"9adb8e2a-2f44-4d4a-ae1b-a02c7f2d9a86"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"https://wkx8x.sharepoint.com/sites/wlive","parameters/method":"POST","parameters/uri":"/_api/web/lists","parameters/body":"{'BaseTemplate':106,'ContentTypesEnabled':true,'Title':'Company Events'}"},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@body('Send_an_HTTP_request_to_SharePoint')","actions":{"Send_an_HTTP_request_to_SharePoint_3":{"runAfter":{},"metadata":{"operationMetadataId":"39a40e06-ef5a-44b7-9c20-2e5d38fdc4c5"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"https://wkx8x.sharepoint.com/sites/wlive","parameters/method":"POST","parameters/uri":"/_api/web/lists/getbytitle('Company Events')/items","parameters/headers":{"Content-Type":"application/json"},"parameters/body":"{\"Title\": \"@{items('Apply_to_each')['Title']}\",\"Description\": \"@{items('Apply_to_each')['Description']}\",\"Location\": \"\",\"EventDate\":\"@{items('Apply_to_each')['EventDate']}\",\"EndDate\":\"@{items('Apply_to_each')['EndDate']}\",\"RecurrenceData\":\"@{items('Apply_to_each')['RecurrenceData']}\",\"Duration\":\"@{items('Apply_to_each')['Duration']}\",\"fAllDayEvent\":\"@{items('Apply_to_each')['fAllDayEvent']}\",\"fRecurrence\":\"@{items('Apply_to_each')['fRecurrence']}\",\"TimeZone\":\"@{items('Apply_to_each')['TimeZone']}\",\"XMLTZone\":\"@{items('Apply_to_each')['XMLTZone']}\",\"EventType\":\"@{items('Apply_to_each')['EventType']}\"}"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Send_an_HTTP_request_to_SharePoint_2":["Succeeded"]},"metadata":{"operationMetadataId":"020c0bd6-fc45-46be-a6ca-87649ba875ce"},"type":"Foreach"}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"shared-sharepointonl-eb543a57-80ea-4d27-91f4-fe42f7dd3270","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}